
ThucDon/appsettings.json

ThucDon/obj/project.assets.json

ThucDon/obj/ThucDon.csproj.nuget.cache

ThucDon/obj/ThucDon.csproj.nuget.dgspec.json

ThucDon/obj/ThucDon.csproj.nuget.g.props

ThucDon/obj/ThucDon.csproj.nuget.g.targets

ThucDon/obj/Debug/net472/win7-x86/ThucDon.pdb

ThucDon/.vs/ThucDon/v16/.suo

ThucDon/.vs/ThucDon/v16/Server/sqlite3/storage.ide

ThucDon/.vs/ThucDon/DesignTimeBuild/.dtbcache

ThucDon/bin/Debug/net472/win7-x86/Properties/launchSettings.json

ThucDon/bin/Debug/net472/win7-x86/appsettings.json

ThucDon/bin/Debug/net472/win7-x86/bower.json

ThucDon/bin/Debug/net472/win7-x86/System.Text.Encoding.CodePages.dll

ThucDon/bin/Debug/net472/win7-x86/ThucDon.deps.json

ThucDon/bin/Debug/net472/win7-x86/ThucDon.exe

ThucDon/bin/Debug/net472/win7-x86/ThucDon.pdb

ThucDon/obj/Debug/net472/win7-x86/ThucDon.AssemblyInfo.cs

ThucDon/Migrations/ApplicationDbContextModelSnapshot.cs

ThucDon/obj/Debug/net472/win7-x86/ThucDon.AssemblyInfoInputs.cache

ThucDon/obj/Debug/net472/win7-x86/ThucDon.assets.cache

ThucDon/obj/Debug/net472/win7-x86/ThucDon.csproj.FileListAbsolute.txt

ThucDon/obj/Debug/net472/win7-x86/ThucDon.csprojAssemblyReference.cache

ThucDon/obj/Debug/net472/win7-x86/ThucDon.exe.withSupportedRuntime.config

ThucDon/obj/Debug/net472/win7-x86/ThucDon.exe

ThucDon/Migrations/20191205115433_Migration1.cs

ThucDon/Migrations/

ThucDon/dotvvm_serialized_config.json.tmp

ThucDon/.vs/ThucDon/config/applicationhost.config

ThucDon/.vs/ThucDon/v16/Server/sqlite3/storage.ide-shm

ThucDon/.vs/ThucDon/v16/Server/sqlite3/storage.ide-wal

*.cache
